.container {
  background-color: white;
  padding: 0px;
  margin: 5px;
  box-sizing: border-box;

  padding-bottom: 30px;
  margin-bottom: 90px;
  margin-top: 20px;

  .header {
    box-sizing: border-box;
    padding: 20px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .item {
      
      .label {
        color: gray;
        margin-bottom: 10px;
      }

      .value {
        select {
          font-weight: bold;
          cursor: pointer;
          font-size: small;
          width: 200px;
        }
      }
    }
  }

  .stats-container {
    padding: 40px;
    box-sizing: border-box;
  }
}
